:root {
  --typography-primary-color: #1f1f1f;
  --typography-secondary-color: #e7c8c8;
  --color-primary: black;
  --input-border: #eeeeee;
  --input-border-active: #757575;

  --font-family-primary: system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  font-family: var(--font-family-primary);
  color: var(--typography-primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.icruiting {
  display: grid;
  grid-row-gap: 16px;
}

.icruiting .field-container {
  display: grid;
  grid-row-gap: 5px;
}

.icruiting label {
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.icruiting label .req {
}

.icruiting .desc {
  opacity: 0.6;
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.icruiting input[type="text"],
.icruiting input[type="email"],
.icruiting input[type="tel"],
.icruiting input[type="number"],
.icruiting input[type="date"] {
  background: white;
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 2px;

  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.icruiting input:focus {
  outline: none !important;
  border-color: var(--input-border-active);
}

.icruiting textarea {
  resize: none;
  background: white;
  border: 1px solid var(--input-border);
  padding: 10px;
  border-radius: 2px;

  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.iccruiting textarea:focus {
  outline: none !important;
  border-color: var(--input-border-active);
}

.icruiting select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--input-border);
  background: white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 10px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' fill='%23545454' /></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.icruiting select:focus {
  outline: none !important;
  border-color: var(--input-border-active);
}

.icruiting .radio-options-container,
.icruiting .checkbox-options-container {
  display: grid;
  row-gap: 8px;
}

.icruiting .radio-option-container,
.icruiting .checkbox-option-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  justify-content: start;
  align-items: center;
}

.icruiting .radio-option-label,
.icruiting .checkbox-option-label {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.icruiting .submit-button {
  background: none;
  cursor: pointer;
  background-color: var(--color-primary);
  padding: 8px 16px 10px;
  border-radius: 2px;
  border: none;
  color: white;
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.icruiting .submit-button .spinner-container {
  display: none;
}
.icruiting .submit-button.loading {
  pointer-events: none;
  flex-direction: column;
}

.icruiting .submit-button.loading .submitt-button-label {
  opacity: 0;
  height: 0;
}

.icruiting .submit-button.loading .spinner-container {
  display: flex;
}

.icruiting .spinner {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid;
  box-sizing: border-box;

  border-color: #333333;
  border-top-color: #cbcbcb;

  display: inline-block;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: spinnerAnimation;
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
